################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureSQLDatabaseApiConnector/Properties
/bin/Debug/net8.0/.azurefunctions
/bin/Debug/net8.0
